<div class="col-lg-14">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Striped Table
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{'PROFILEPHOTO'|translate}}</th>
              <th>{{'HOTELNAME'|translate}}</th>
              <th>{{'EMAIL'|translate}}</th>
              <th>{{'TELNUMBER'|translate}}</th>
              <th>{{'ADDRESS'|translate}}</th>
              <th>{{'numberOfStar'|translate}}</th>
              <th>{{'roomNumber'|translate}}</th>
              <th>{{'numberOfEmployees'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hotels of this.hotels.data">
                                          
                <td> 
                
                  
                    <img [src]='hotels.imageUrl' *ngIf="hotels.imageUrl!='data:image/jpg;base64,'" class='user-photo'  style='width:64px; height:64px;border-radius:80px;'>
                </td>
                <td>{{hotels.hotelName}}</td>
                <td>
                    <span class="phone"><i class="m-r-10"></i>{{hotels.email}}</span>
                </td>
                <td>
                    <span class="phone"><i class="fa fa-phone m-r-10"></i>{{hotels.phoneNumber}}</span>
                </td>
                <td>
                    <span>{{hotels.adress}}</span>
                </td>
                <td>
                    <span>{{hotels.numberOfStar}}</span>
                </td>
                <td>
                    <span>{{hotels.roomNumber}}</span>
                </td>
                <td>
                    <span>{{hotels.numberOfEmployees}}</span>
                </td>
                <td style="text-align:right;display:flex;flex-direction:row;">
                    <a routerLink='UpdateHotel/{{hotels.id}}'>

                        <button class="btn btn-warning" style="margin-right:6px !important" title="edit"><i class="fa fa-edit"></i></button>
                    </a>
                   
                    <form method="post" class='buttondelete'>
                       
                        <button type="submit"  class="btn btn-danger buttondelete js-sweetalert"  [disabled]="this.clicked" data-toggle="modal" data-target="#exampleModal" title="{{'DELETE'|translate}}"><i class="fa fa-trash-o"></i></button>
                    </form>
                </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>